page-login {
    ion-content {
        .scroll-content {
            position: relative;
            display: table;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            padding: 16px;
        }
            
        .page-content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            
            .btn-div {
                width: 17rem;
                margin: auto;
                margin-top: 10rem;
                
                button {
                    border-radius: 2.3rem;
                }
            }

        }
    }
    
    .list {
        .item {
            background: none;
            padding: 0px;
            
            &:first-child {
                border-top: none;
            }
        }
    }
    
    .toolbar {
        width: 94%;
        margin: auto;
        min-height: 5.5rem;

        .toolbar-background {
            background: none;
            border: none;
        }
    }
    
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background: none;
    }
    
    ion-title {
        .toolbar-title {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 100;
            padding: 0%;
            font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
        }
    }
    
    ion-header {
        ion-navbar {
            border-width: 0 0 0.55px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.3);
        }
    }
}
