<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
        <!--<ion-buttons end>
            <button id="notification-button" ion-button right (click)="openNotification()" class="notfiyBtn">
                    <ion-icon name="ios-notifications">
                    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
                </ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content padding class="has-background">
    <ion-card>
        <ion-card-header>
            Location Details
        </ion-card-header>
        <ion-card-content>
            Organization: {{ account.name }} <br>
            Place: {{ account.place }}
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <temp-device [device] = deviceUL *ngIf="deviceUL.shouldShow"></temp-device>
            </ion-col>
            <ion-col col-6>
                <temp-device [device] = deviceUR *ngIf="deviceUR.shouldShow"></temp-device>
            </ion-col>
            <ion-col col-6>
                <temp-device [device] = deviceDL *ngIf="deviceDL.shouldShow"></temp-device>
            </ion-col>
            <ion-col col-6>
                <temp-device [device] = deviceDR *ngIf="deviceDR.shouldShow"></temp-device>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-shadow>
    <div class="btn-div">
        <button ion-button color="assertive" block class="btnLogin" (click)="openSelectDevices()">Select Devices</button>
    </div>
</ion-footer>