<div class="device-container">
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <div class="gauge-container">
                    <device-gauge [deviceData] = device></device-gauge>
                </div>
            </ion-col>
            <ion-col col-8>
                <div class="device-detials">
                    <div class="place">
                        {{ device.name }}
                    </div>
                    <div class="description">
                        {{ device.description }}
                    </div>
                </div>
                <button ion-button color="assertive" block class="btnAddHome" (click)="addToHome()">{{ 'Add To Home' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
