<svg viewBox = "0 0 200 200"> 
  
  <g
    [attr.class] = "reverse ? 'kw-holder reverse' : 'kw-holder normal'">
    <circle
      class = kw-back
      [attr.r] = "bgRadius"
      [style.fill] = bgColor/>

    <g
      *ngFor = "let segment of sortedSegments; let i = index">
      <defs>
        <linearGradient id="{{ 'gradient' + i }}" x1="68%" y1="100%" x2="32%" y2="0%" >
          <stop offset="0%" [style.stopColor] = segment.gradient.start ></stop>
          <stop offset="100%" [style.stopColor] = segment.gradient.end></stop>
        </linearGradient>
      </defs>
      <circle
        class = kw-mid
        [style.stroke] = segment.bgColor
        [style.strokeWidth] = segment.borderWidth
        [attr.r] = segment.computedRadius/>

      <circle
        class = kw-front
        
        [style.transition] = "'stroke-dasharray ' + animationSecs + 's'"
        [style.stroke] = "'url(#gradient' + i + ')'"
        [style.strokeWidth] = segment.borderWidth
        [style.strokeDasharray] = "segmentsLoaded ? segment.strokeProgress : segment.strokeEmptyProgress"
        [style.strokeLinecap] = "rounded ? 'round' : ''"
        [attr.r] = segment.computedRadius/>
    </g>
  </g>



  <g
    transform = "translate(100, 100)">
    <text
      class = kw-label
      *ngFor = "let label of labels"
      [attr.x] = label.x
      [attr.y] = label.y
      [style.fill] = label.color
      [style.fontSize] = label.fontSize
      text-anchor = middle>
      {{label.text}} &#8451;
    </text>
  </g>
</svg>